<fieldset><legend><strong>BACKUP SYSTEM MKS-STORE</strong></legend>
<table class="table table-hover">
<tr>
	<td>&nbsp;</td><td style="width:20%">Backup Database</td><td>:</td>
	<td style="font-weight:bold;">
		<a href="{$host}backupdb"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
	</td>
</tr>
<tr>
	<td>&nbsp;</td><td style="width:20%">Backup Core Aplikasi (__application)</td><td>:</td>
	<td style="font-weight:bold;">
		<a href="{$host}backup-application"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
	</td>
</tr>
<tr>
	<td>&nbsp;</td><td style="width:20%">Backup Core Assets (__assets)</td><td>:</td>
	<td style="font-weight:bold;">
		<a href="{$host}backup-assets"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
	</td>
</tr>
<tr>
	<td>&nbsp;</td><td style="width:20%">Backup Core Repository (__repository)</td><td>:</td>
	<td style="font-weight:bold;">
		<a href="{$host}backup-repository"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
	</td>
</tr>
</table>
</fieldset>

<script>
</script>