<div class="row-fluid">
    <fieldset>
	<div class="span12">
        <form  parsley-validate id="form_input_{$acak}" method="post" class="form-horizontal" url="{$host}backoffice-simpan/tbl_registration/{$sts|default:'add'}">
			<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
			<input type="hidden" name="role" id="role{$acak}" value="PIC">
			<table class="table table-hover">
			{include file="backend/template/input_goyz.html" label="Provinsi" type="select" name="cl_provinsi_id" id_na="cl_provinsi_id" data_combo=$prov class="validasi" id_combo=$data.cl_provinsi_id|default:'' style_type="width:80%" }
			{include file="backend/template/input_goyz.html" label="Kabkota" type="select" name="cl_kab_kota_id" id_na="cl_kab_kota_id" class="validasi" style_type="width:80%"}
			{include file="backend/template/input_goyz.html" label="Kecamatan" type="select" name="cl_kecamatan_id" id_na="cl_kecamatan_id" class="validasi imel" style_type="width:80%"}
			{include file="backend/template/input_goyz.html" label="Email" type="text" name="email_address" id_na="email_address"  style_type="width:80%" class="validasi" value=$data.email_address|default:''}
			{if $sts eq 'add'}
			{include file="backend/template/input_goyz.html" label="Password" type="pwd" name="password" id_na="password"  style_type="width:80%" class="validasi" value=$data.password|default:''}
			{/if}
			{include file="backend/template/input_goyz.html" label="Nama Lengkap" type="text" name="nama_lengkap" id_na="nama_lengkap"  style_type="width:80%" class="validasi" value=$data.nama_lengkap|default:''}
			{include file="backend/template/input_goyz.html" label="Alamat" type="text" name="alamat" id_na="alamat"  style_type="width:80%" class="validasi" value=$data.alamat|default:''}
			{include file="backend/template/input_goyz.html" label="Kode Pos" type="text" name="kode_pos" id_na="kode_pos"  style_type="width:30%" class="" value=$data.kode_pos|default:''}
			{include file="backend/template/input_goyz.html" label="No HP" type="text" name="no_handphone" id_na="no_handphone"  style_type="width:30%" class="validasi" value=$data.no_handphone|default:''}
			<tr>
				<td>&nbsp;</td><td style="width:20%">Status</td><td>:</td>
				<td style="font-weight:bold;">
					<input name="status" type="checkbox" value="1" {if $sts eq 'edit'}{if $data.status eq '1'}checked{/if}{else}checked{/if} />
					<span class="lbl">Aktif</span>
				</td>
			</tr>
			
			</table>
			<div class="col-sm-7 col-sm-offset-3">
				<div class="pull-right">
					{include file="backend/template/button_save.html" text="Simpan Data" id_na="simpan_buku" style_btn="btn-success"  btn_goyz="true"}
					{include file="backend/template/button_save.html" text="Kembali" id_na="batal" style_btn="btn-info"  btn_goyz="true"}
				</div>
			</div>
		</form>
	</div>
	</fieldset>
</div>
<script>
	var upl_vid=0;
	$(".validasi").validatebox({ required:true }); 
	$('.angka').numberbox({
		min:0,
		precision:2,
		groupSeparator:','
	});

	$('#cl_provinsi_id{$acak}').change(function(){
		$('#cl_kab_kota_id{$acak}').empty();
		fillCombo(host+'backoffice-combo','cl_kab_kota_id{$acak}','cl_kab_kota_indo',$(this).val(),'{$data.cl_kab_kota_id|default:''}');
	});
	$('#cl_kab_kota_id{$acak}').change(function(){
		$('#cl_kecamatan_id{$acak}').empty();
		fillCombo(host+'backoffice-combo','cl_kecamatan_id{$acak}','cl_kecamatan_indo',$(this).val(),'{$data.cl_kecamatan_id|default:''}');
	});
	$('#batal_{$acak}').bind('click',function(){
		
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_buku_{$acak}').bind('click',function(){
		simpan_form('form_input_{$acak}','batal_{$acak}','Data PIC Sales Sudah Tersimpan');
	});
	{if $sts eq 'edit'}
		fillCombo(host+'backoffice-combo','cl_kab_kota_id{$acak}','cl_kab_kota_indo','{$data.cl_provinsi_id|default:''}','{$data.cl_kab_kota_id|default:''}');
		//$('#cl_provinsi_id{$acak}').trigger('change');
		//$('#cl_kab_kota_id{$acak}').trigger('change');
		//$('#cl_kecamatan_id{$acak}').empty();
		fillCombo(host+'backoffice-combo','cl_kecamatan_id{$acak}','cl_kecamatan_indo','{$data.cl_kab_kota_id|default:''}','{$data.cl_kecamatan_id|default:''}');
	{/if}
</script>