
<div class="span12">
	<fieldset><legend><strong>{$judul}</strong></legend>
		{* {if $mod eq 'lap_distribusi_kabkota' || $mod eq 'lap_buku_kabkota'}
		<div class="span12">
			<div class="span1"></div>
			<div class="span2"><div style="margin-top:10px;">Kab/Kota :</div></div>
			<div class="span9">
				<select id="kabkota_{$acak}" style="width:300px;height:25px;margin-top:10px;">
					{foreach from=$kabkota item=i}
					<option value="{$i.kode_kab_kota}">{$i.kab_kota}</option>
					{/foreach}
				</select>&nbsp;&nbsp;
				<a href="javascript:void(0);" id="go_{$acak}">Cari</a>
				<a href="javascript:void(0);" id="cetak_{$acak}">Cetak</a>
			</div>
		</div>
		{else}
		*}
		<div class="span12">
			<div class="span1"></div>
			<div class="span2"><div style="margin-top:10px;">Tgl Transaksi :</div></div>
			<div class="span9">
				<input type="text" name="tgl_mulai" id="tgl_mulai_{$acak}">&nbsp;&nbsp;s/d&nbsp;&nbsp;
				<input type="text" name="tgl_akhir" id="tgl_akhir_{$acak}">
				&nbsp;&nbsp;
				{if $mod neq 'lap_distribusi_kabkota' && $mod neq 'lap_buku_kabkota'}
				<select id="kat_{$acak}" style="width:100px;height:25px;margin-top:10px;">
					<option value="SEKOLAH">Sekolah</option>
					<option value="UMUM">Umum</option>
				</select>&nbsp;&nbsp;
				{/if}
				<a href="javascript:void(0);" id="go_{$acak}">Cari</a>
				<a href="javascript:void(0);" id="cetak_{$acak}">Cetak</a>
			</div>
		</div>
		
		{* {/if} *}
	</fieldset>
	<div id="isi_laporan_{$acak}" style="margin-bottom:50px;"></div>
</div>

<script>
$('#tgl_mulai_{$acak}').datebox({ formatter: formatDate,parser:myparser });
$('#tgl_akhir_{$acak}').datebox({ formatter: formatDate,parser:myparser });
$('#tgl_mulai_{$acak}').datebox('setValue',today);
$('#tgl_akhir_{$acak}').datebox('setValue',today);
$('#go_{$acak}').linkbutton();
$('#cetak_{$acak}').linkbutton();



get_detil('{$mod}','{$acak}');
$('#go_{$acak}').bind('click',function(){
	get_detil('{$mod}','{$acak}');
})
$('#cetak_{$acak}').bind('click',function(){
	var param_na={};
	param_na['tgl_mulai']=$('#tgl_mulai_{$acak}').datebox('getValue');
	param_na['tgl_akhir']=$('#tgl_akhir_{$acak}').datebox('getValue');;
	{if $mod neq 'lap_distribusi_kabkota' && $mod neq 'lap_buku_kabkota'}
	param_na['mod']='{$mod}_'+$('#kat_{$acak}').val();
	param_na['kat']=$('#kat_{$acak}').val();
	{else}
	param_na['mod']='{$mod}';
	{/if}
	openWindowWithPost(host+'backoffice-Cetak',param_na);
});
</script>