<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a href="{$host}"><i class="fa fa-home"></i></a></li>
        <li><a href="{$host}bantuan">Panduan Cara Belanja</a></li>
    </ul>

	<div class="row">
		<!--Middle Part Start-->
		<div id="content" class="col-sm-12">
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h3>Cara Registrasi</h3>
            </div>
            <div class="col-sm-9">
              <div class="faq">
                <div> <a href="#faq1" data-parent="#accordion" data-toggle="collapse" class="panel-title">Cara registrasi di MKS Store <i class="fa fa-caret-down"></i></a>
                  <div id="faq1" class="panel-collapse collapse">
                    <div class="panel-body">Buka browser Anda kemudian tuliskan <a href="http://bukusekolah.mks-store.id">bukusekolah.mks-store.id</a> address bar kemudian tekan ENTER </br></br>
					<img class="img-responsive" src="{$host}__assets/images/panduan/gbr1.png"/>
					</br></br>
					Setelah halaman webstore MKS terbuka silahkan klik menu Register kanan atas </br></br>
					<img class="img-responsive" src="{$host}__assets/images/panduan/gbr2.png"/>
					</div>
                  </div>
                </div>
                <div> <a href="#faq2" data-parent="#accordion" data-toggle="collapse" class="panel-title">Cara isi form pendaftaran <i class="fa fa-caret-down"></i></a>
                  <div id="faq2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>setelah di klik tombol Register akan tampil form pendaftaran seperti ini :
					  <img class="img-responsive" src="{$host}__assets/images/panduan/gbr3.png"/>
					  <br><br>
					  Setelah klik tombol DAFTAR silahkan cek email Anda.
					  </p>
                    </div>
                  </div>
                </div>
                <div> <a href="#faq3" data-parent="#accordion" data-toggle="collapse" class="panel-title"> Cek email notifikasi <i class="fa fa-caret-down"></i></a>
                  <div id="faq3" class="panel-collapse collapse">
                    <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr4.png"/><br><br>
					dalam email notifikasi di terdapat informasi username dan password untuk login di webstore MKS.
					</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h3>Cara Belanja</h3>
            </div>
            <div class="col-sm-9">
              <div class="faq">
                <div> <a href="#faq5" data-parent="#accordion" data-toggle="collapse" class="panel-title">Login di webstore <i class="fa fa-caret-down"></i></a>
                  <div id="faq5" class="panel-collapse collapse">
                    <div class="panel-body">
					<img class="img-responsive" src="{$host}__assets/images/panduan/gbr5.png"/><br><br>
					Setelah login sukses akan di tampilkan data profile pembeli dan siap untuk melakukan pembelian buku<br><br>
					</div>
                  </div>
                </div>
                <div> <a href="#faq6" data-parent="#accordion" data-toggle="collapse" class="panel-title">Mulai belanja buku <i class="fa fa-caret-down"></i></a>
                  <div id="faq6" class="panel-collapse collapse">
                    <div class="panel-body">
					<img class="img-responsive" src="{$host}__assets/images/panduan/gbr6.png"/><br><br>
					Silahkan pilih menu pembelian sesuai kebutuhan, ada menu Buku Satuan dan Buku Paket
					</div>
                  </div>
                </div>
                <div> <a href="#faq7" data-parent="#accordion" data-toggle="collapse" class="panel-title">Cara beli buku satuan<i class="fa fa-caret-down"></i></a>
                  <div id="faq7" class="panel-collapse collapse">
                    <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr7.png"/><br><br>
					Pilih buku yang ingin di beli kemudian klik tombol BELI, maka buku akan di tambahkan ke dalam keranjang belanja
					</div>
                  </div>
                </div>
                <div> <a href="#faq8" data-parent="#accordion" data-toggle="collapse" class="panel-title">Cara beli buku paket <i class="fa fa-caret-down"></i></a>
                  <div id="faq8" class="panel-collapse collapse">
                    <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr8.png"/><br><br>
					Pilih paket yang ingin di beli kemudian klik tombol BELI, tentukan jumlah buku kemudian klik tombol Beli Paket, maka buku akan di tambahkan ke dalam keranjang belanja. <br>
					Kemudian klik pada keranjang belanja di kanan atas, selanjutnya klik tombol <img src="{$host}__assets/images/panduan/selesai.png"/> akan ditampilkan form seperti di berikut ini.
					</div>
                    <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr9.png"/><br><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h3>Cara Konfirmasi Bayar</h3>
            </div>
            <div class="col-sm-9">
              <div class="faq">
                <div> <a href="#faq10" data-parent="#accordion" data-toggle="collapse" class="panel-title">Konfirmasi pembayaran (untuk pembeli umum) <i class="fa fa-caret-down"></i></a>
                  <div id="faq10" class="panel-collapse collapse">
                    <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr10.png"/><br><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h3>Cara Lacak Pesanan</h3>
            </div>
            <div class="col-sm-9">
              <div class="faq">
                <div> <a href="#faq21" data-parent="#accordion" data-toggle="collapse" class="panel-title">Melacak pesanan <i class="fa fa-caret-down"></i></a>
                  <div id="faq21" class="panel-collapse collapse">
                     <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr11.png"/><br><br></div>
                  </div>
                </div>
               </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h3>Cara Upload BAST & Tanda Terima</h3>
            </div>
            <div class="col-sm-9">
              <div class="faq">
                <div> <a href="#faq27" data-parent="#accordion" data-toggle="collapse" class="panel-title">Untuk Pembeli Sekolah<i class="fa fa-caret-down"></i></a>
                  <div id="faq27" class="panel-collapse collapse">
                    <div class="panel-body"><img class="img-responsive" src="{$host}__assets/images/panduan/gbr12.png"/><br><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Middle Part End -->
		
		</div>
	</div>
</div>