	<div class="container">
		<div class="row">
			<div id="content">
				<div class="row">
					<div class="col-sm-4 text-center">
						<p style="margin-left:40px;font-family:Open Sans;font-size:18px;color:#888888;">
							Online Store kami telah diverifikasi oleh LKPP dan Kemdikbud, dan terdaftar di Kominfo. 
							Untuk menyukseskan program pemerintah dalam pengadaan 
							Buku Teks Pelajaran Kurikulum 2013 revisi 2016 SD-SMP-SMA/SMK.
						</p>
						<br/>
					</div>
					<div class="col-sm-4">
						<img title="sample-banner" class="img-responsive" src="{$host}__assets/images/MKS-Logo-Big-400x200.png">
						<br/>
					</div>
					<div class="col-sm-4 text-center" >
						<p style="margin-right:40px;font-family:Open Sans;font-size:18px;color:#888888;">
							Selamat Datang di MKS Online Book Store. <br/>
							Kami berikan pengalaman berbelanja yang berkesan kepada setiap pelanggan kami. 
							Anda dapat dengan mudah memulai pengalaman berbelanja dengan kami.
						</p>
						<br/>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<div class="container">
		<div class="row">
			<div id="content">
				<div class="row">
					<div class="col-sm-2 text-center">
						<img title="sample-banner1" alt="sample-banner1" src="{$host}__assets/images/banner-01-360x185.jpg">
					</div>
					<div class="col-sm-8 text-center">
						<ul class="bxslider">
							<li><img src="{$host}__assets/images/banner-0-750x400.png" /></li>
							<li><img src="{$host}__assets/images/banner-1-750x400.png" /></li>
							<li><img src="{$host}__assets/images/banner-3-750x400.png" /></li>
						</ul>
					</div>
					<div class="col-sm-2 text-center">
						<img title="sample-banner" alt="sample-banner" src="{$host}__assets/images/banner-02-360x185.jpg">
					</div>
				</div>			
			</div>
		</div>
	</div>	
	<br/>
	<div class="container">
		<div class="row">
			<div id="content">
				<div class="row">
					<div class="col-sm-2 text-center">
					
					</div>
					<div class="col-sm-8 text-center">
						<img class="img-responsive" title="sample-banner" alt="sample-banner" src="{$host}__assets/images/banner-bawah.png">
					</div>
					<div class="col-sm-2 text-center">
						
					</div>
				</div>			
			</div>
		</div>
	</div>	
	
	
	{*
	<div class="container">
		<div class="row">
			<h3 class="subtitle">Katalog Buku Kami</h3>	
			<div class="owl-carousel product_carousel owl-theme" style="opacity: 1; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper" style="width: 2736px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
						{foreach from=$data_buku item=rows}
						<div class="owl-item" style="width: 228px;">
							<div class="product-thumb clearfix">
								<div class="image">
									<a href="product.html"><img src="{$rows.foto_buku}" alt="iPhone5" title="iPhone5" class="img-responsive"></a>
								</div>
								<div class="caption">
									<h4><a href="product.html">{$rows.judul_buku}</a></h4>
								</div>
								<div class="button-group">
									<button class="btn-primary" type="button" onclick=""><span>Add to Cart</span></button>
								</div>
							</div>
						</div>
						{/foreach}
					</div>
				</div>
				<div class="owl-controls clickable">
					<div class="owl-buttons">
						<div class="owl-prev"><i class="fa fa-angle-left"></i></div>
						<div class="owl-next"><i class="fa fa-angle-right"></i></div>
					</div>
				</div>				
			</div>
			
		</div>
	</div>
	*}
	
	
<script>
$(document).ready(function(){
	$('.bxslider').bxSlider({
		auto: true,
	});
});

	$(".owl-carousel.product_carousel").owlCarousel({
		//itemsCustom : [[320, 1],[600, 2],[768, 3],[992, 5],[1199, 5]],											   
		//lazyLoad : true,
		//navigation : true,
		//navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
		//scrollPerPage : true
		//center: true,
		//items:2,
		loop:true,
    }); 
	

</script>