<div class="container">
	{if $type eq 'checkout'}

	   <!-- Breadcrumb Start-->
		<ul class="breadcrumb">
			<li><a href="{$host}"><i class="fa fa-home"></i></a></li>
			<li><a href="{$host}katalog">Katalog</a></li>
			<li><a href="{$host}selesaibelanja">Ringkasan Belanja Buku Anda</a></li>
		</ul>
		
		<div class="panel panel-default">
			<div class="panel-heading"> 
				<h4 class="panel-title"><i class="fa fa-user"></i> Informasi Pembeli</h4>
			</div>
			<div id="collapse-shipping" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="form-horizontal">
						{if $auth.jenis_pembeli eq "SEKOLAH"}
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Nama Sekolah</label>
								<div class="col-sm-8">
									<div class="form-control">{$auth.nama_sekolah}</div>
								</div>
							</div>	
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Alamat Sekolah</label>
								<div class="col-sm-8">
									<div class="form-control">{$auth.alamat_pengiriman}</div>
								</div>
							</div>	
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Alamat Pengiriman</label>
								<div class="col-sm-8">
									{if $arraynya.alamat_registrasi neq null}
										<div class="form-control">{$arraynya.alamat_registrasi}</div>
									{else}
										<div class="form-control">{$arraynya.alamat_lain}</div>
									{/if}
								</div>
							</div>	
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Zona Pengiriman</label>
								<div class="col-sm-2">
									<div class="form-control">{$auth.zona_pengiriman}</div>
								</div>
							</div>	
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Estimasi Pengiriman</label>
								<div class="col-sm-2">
									<div class="form-control">{$estimasi|default:'-'}</div>
								</div>
							</div>	
						{elseif $auth.jenis_pembeli eq "UMUM"}
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Nama Lengkap</label>
								<div class="col-sm-2">
									<div class="form-control">{$auth.nama_lengkap}</div>
								</div>
							</div>	
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Alamat Pembeli</label>
								<div class="col-sm-8">
									<div class="form-control">{$auth.alamat_pengiriman}</div>
								</div>
							</div>	
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Alamat Pengiriman</label>
								<div class="col-sm-8">
									{if $arraynya.alamat_registrasi neq null}
										<div class="form-control">{$arraynya.alamat_registrasi}</div>
									{else}
										<div class="form-control">{$arraynya.alamat_lain}</div>
									{/if}
								</div>
							</div>								
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Zona Pengiriman</label>
								<div class="col-sm-8">
									<div class="form-control">{$auth.zona_pengiriman}</div>
								</div>
							</div>		
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Estimasi Pengiriman</label>
								<div class="col-sm-2">
									<div class="form-control">{$estimasi|default:'-'}</div>
								</div>
							</div>								
						{/if}
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading"> 
				<h4 class="panel-title"><i class="fa fa-align-justify"></i> Informasi Pesanan</h4>
			</div>
			<div id="collapse-shipping" class="panel-collapse collapse in">
				<div class="panel-body">
				
					<div class="form-horizontal">
						<div class="form-group required">
							<label for="input-firstname" class="col-sm-3 control-label">No. Order</label>
							<div class="col-sm-8">
								<div class="form-control">{$arraynya.no_order}</div>
							</div>
						</div>	
						<div class="form-group required">
							<label for="input-firstname" class="col-sm-3 control-label">Tanggal Order</label>
							<div class="col-sm-8">
								<div class="form-control">{$arraynya.no_order|date_format:"%d %b %Y"|default:'-'}</div>
							</div>
						</div>	
						<div class="form-group required">
							<label for="input-firstname" class="col-sm-3 control-label">Grand Total</label>
							<div class="col-sm-8">
								<div class="form-control">Rp. {$arraynya.grand_total}</div>
							</div>
						</div>	
						<div class="form-group required">
							<label for="input-firstname" class="col-sm-3 control-label">Ekspedisi</label>
							<div class="col-sm-8">
								<div class="form-control">{$arraynya.jasa_pengiriman}</div>
							</div>
						</div>	
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Detail Pesanan Anda</h4>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center">Judul Buku</td>
                            <td class="text-center">Quantity</td>
                            <td class="text-center">Harga</td>
                            <td class="text-center">SubTotal</td>
                        </tr>
                    </thead>
					<tbody>
						{foreach from=$arraynya.detail_pesanan item=rows}
							<tr>
								<td>{$rows.judul_buku}</td>
								<td class="text-right">{$rows.qty}</td>
								<td class="text-right">Rp. {$rows.harga}</td>
								<td class="text-right">Rp. {$rows.subtotal}</td>
							</tr>
						{/foreach}
					</tbody>
					<tfoot>
                        <tr>
                            <td class="text-right" colspan="3"><strong>Total Harga</strong></td>
                            <td class="text-right">Rp. {$arraynya.grand_total}</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="3"><strong>Total Quantity</strong></td>
                            <td class="text-right">{$arraynya.total_qty} Item</td>
                        </tr>
                    </tfoot>
				</table>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-credit-card"></i> Informasi Billing Pesanan</h4>
			</div>
			<div id="collapse-shipping" class="panel-collapse collapse in">
				<div class="panel-body">

					<div class="form-horizontal">
						<div class="form-group required">
							<label for="input-firstname" class="col-sm-3 control-label">Metode Pembayaran</label>
							<div class="col-sm-8">
								<div class="form-control">{$arraynya.metode_pembayaran}</div>
							</div>
						</div>							
						<div class="form-group required">
							<label for="input-firstname" class="col-sm-3 control-label">Informasi Rekening Bank</label>
							<div class="col-sm-8">
								<div class="form-control" style="height:auto !important;">
									Rekening BRI KCB UjungBerung <br/>
									A/N PT. Mulia Kencana Semesta <br/>
									No. Rekening : 035401001654308
								</div>
							</div>
						</div>	
					</div>
					
					<br/>
					<h5><font color="red">Setelah melakukan pembayaran harap mengisi form konfirmasi pada website kami, agar pesanan anda segera kami kirim</font></h5>
				</div>
			</div>
		</div>
		
		<div class="buttons">
			<div class="pull-left"><a href="{$host}katalog" class="btn btn-default">Belanja Lagi</a></div>
		</div>

	{/if}
</div>
