{if $data_buku}
	{foreach from=$data_buku item=row}
		<div style="min-height:350px !important;" class="product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-12">
			<div class="product-thumb">
				<div class="image">
					<img src="{$row.foto_buku}" alt=" {$row.nama_paket} " title=" {$row.nama_paket} " class="img-responsive">
				</div>
				<div>
					<div class="caption">
						<h4><a href="{$host}detailpaket/{$row.id_url}/{$row.judul_url}"> {$row.nama_paket} </a></h4>
						<p class="description"> {$row.deskripsi_buku|default:''} </p>
						<p class="price"> 
							{if $auth}
								<span class="price-new">Rp. {$row.harga_paket|default:''}</span> 
							{else}
								<span class="price-new">Login Untuk Melihat Harga</span> 
							{/if}
						</p>
					</div>
					<div class="button-group">
						{if $auth}
							<a class="btn-primary" href="{$host}detailpaket/{$row.id_url}/{$row.judul_url}"><span>Beli</span></a>
						{/if}
					</div>
				</div>
			</div>
		</div>
	{/foreach}
{else}
	
{/if}
