<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a href="{$host}"><i class="fa fa-home"></i></a></li>
        <li><a href="{$host}registrasi">Profile</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
			{*
		   {if $auth.jenis_pembeli eq "SEKOLAH"}
				<h3 class="title">Data Profile {$auth.nama_sekolah}</h3>
			{elseif $auth.jenis_pembeli eq "UMUM"}
				<h3 class="title">Data Profile {$auth.nama_lengkap}</h3>
			{/if}
			*}
			
			<ul class="nav nav-tabs">
				{if $auth.jenis_pembeli eq "SEKOLAH"}
					<li class="active"><a href="#tab-sekolah" data-toggle="tab" aria-expanded="true">Sekolah Swasta</a></li>
				{elseif $auth.jenis_pembeli eq "UMUM"}
					<li class="active"><a href="#tab-umum" data-toggle="tab" aria-expanded="true">Pembeli Umum</a></li>
				{/if}
			</ul>
			
			<div class="tab-content">
				{if $auth.jenis_pembeli eq "SEKOLAH"}			
				<div itemprop="sekolah" id="tab-sekolah" class="tab-pane active">
					<form id='frmregsbrosekolah' url="{$host}submit-registrasi" method='post' enctype="multipart/form-data" class="form-horizontal">
						<input type="hidden" name="domtype" value="S">
						<fieldset>
							<legend>Data Sekolah</legend>
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">NPSN</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="npsn" name="npsn" type="text">
								</div>
							</div>												
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">Nama Sekolah</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="nm_seko" name="nm_seko" type="text">
								</div>
							</div>					
							<div class="form-group readonly">
								<label for="input-lastname" class="col-sm-3 control-label">Email Sekolah</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="email" name="email" type="email">
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">No. Telp Sekolah</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="telp_sekolah" name="telp_sekolah" type="text">
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">Nama Kepala Sekolah</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="kpl_sekolah" name="kpl_sekolah" type="text">
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">NIP Kepala Sekolah</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="nip_kepsek" name="nip_kepsek" type="text">
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">No. HP Kepsek</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="no_hp_kepsek" name="no_hp_kepsek" type="text">
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">Nama Bendahara Sekolah</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="nm_bendahara" name="nm_bendahara" type="text">
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">No. HP Bendahara</label>
								<div class="col-sm-8">
									<input class="form-control" readonly id="no_hp_bendahara" name="no_hp_bendahara" type="text">
								</div>
							</div>							
						</fieldset>
						<fieldset>
							<legend>Data Alamat Sekolah</legend>
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">Provinsi</label>
								<div class="col-sm-8">
									<select class="form-control" readonly id="provinsi" name="provinsi">	
										{$combo_prov}
									</select>
								</div>
							</div>							
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">Kabupaten</label>
								<div class="col-sm-8">
									<select class="form-control" readonly id="kabupaten" name="kabupaten">	
									</select>
								</div>
							</div>							
							<div class="form-group">
								<label for="input-firstname" class="col-sm-3 control-label">Kecamatan</label>
								<div class="col-sm-8">
									<select class="form-control" id="kecamatan" name="kecamatan">	
									
									</select>
								</div>
							</div>		
							<div class="form-group readonly">
								<label for="input-firstname" class="col-sm-3 control-label">Kode Pos</label>
								<div class="col-sm-2">
									<input class="form-control" readonly id="kd_pos" name="kd_pos" type="text">
								</div>
							</div>														
							<div class="form-group readonly">
								<label for="input-fax" class="col-sm-3 control-label">Alamat Pengiriman</label>
								<div class="col-sm-8">
									<textarea class="form-control" readonly id="alamat_pengiriman" name="alamat_pengiriman"></textarea>
								</div>
							</div>												
						</fieldset>
						<div class="buttons">
							<div class="pull-center">
								<center><input id="daftarsekolah" class="btn btn-primary" value="Daftar" type="submit"></center>
							</div>
						</div>
						
					</form>
				</div>
				{elseif $auth.jenis_pembeli eq "UMUM"}
				<div itemprop="umum" id="tab-umum" class="tab-pane active">
					<form data-toggle="validator" role="form" id='frmregsbroumum' url="{$host}submit-registrasi" method='post' enctype="multipart/form-data" class="form-horizontal">
						<input type="hidden" name="domtype" value="U">						
						<fieldset id="account">
							<legend>Data Personal</legend>
							<div class="form-group">
								<label for="input-firstname" class="col-sm-3 control-label">Nama Lengkap</label>
								<div class="col-sm-8">
									<input class="form-control validasi" readonly value="{$auth.nama_lengkap}" id="nm_lengkap" name="nm_lengkap" type="text">
								</div>
							</div>
							<div class="form-group">
								<label for="input-lastname" class="col-sm-3 control-label">Email</label>
								<div class="col-sm-8">
									<input class="form-control validasi" readonly value="{$auth.email}" id="email" name="email" type="email">
								</div>
							</div>
							<div class="form-group">
								<label for="input-telephone" class="col-sm-3 control-label">No. Telp</label>
								<div class="col-sm-8">
									<input class="form-control" id="no_telp" readonly value="{$auth.no_telp_customer}" name="no_telp" type="tel">
								</div>
							</div>
							<div class="form-group">
								<label for="input-fax" class="col-sm-3 control-label">No. Handphone</label>
								<div class="col-sm-8">
									<input class="form-control validasi" readonly value="{$auth.no_hp_customer}" id="no_handphone" name="no_handphone" type="text">
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Data Alamat</legend>
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Provinsi</label>
								<div class="col-sm-8">
									<input class="form-control validasi" readonly value="{$auth.provinsi}" type="text">
								</div>
							</div>							
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Kabupaten</label>
								<div class="col-sm-8">
									<input class="form-control validasi" readonly value="{$auth.kab_kota}" type="text">
								</div>
							</div>							
							<div class="form-group">
								<label for="input-firstname" class="col-sm-3 control-label">Kecamatan</label>
								<div class="col-sm-8">
									<input class="form-control validasi" readonly value="{$auth.kecamatan}" type="text">
								</div>
							</div>		
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">Kode Pos</label>
								<div class="col-sm-2">
									<input class="form-control" readonly value="{$auth.kode_pos}" id="kd_pos" name="kd_pos" type="text">
								</div>
							</div>														
							<div class="form-group">
								<label for="input-fax" class="col-sm-3 control-label">Alamat Pengiriman</label>
								<div class="col-sm-8">
									<textarea class="form-control validasi" readonly id="alamat_pengiriman" name="alamat_pengiriman">{$auth.alamat_pengiriman}</textarea>
								</div>
							</div>
						</fieldset>
						
					</form>				
			
				</div>
				{/if}
			</div>
			
        </div>
        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside id="column-right" class="col-sm-3 hidden-xs">
            <h3 class="subtitle">MKS-Store</h3>
            <div class="list-group">
                <ul class="list-item">
                    <li><a href="{$host}">Data Profile</a></li>
                    <li><a href="#">Konfirmasi</a></li>
                    <li><a href="#">Lacak Pesanan</a></li>
                    <li><a href="#">Riwayat</a></li>
                    <li><a href="{$host}logoutpembeli">Logout</a></li>
                </ul>
            </div>
        </aside>
        <!--Right Part End -->
    </div>
</div>

<script>
</script>