<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a href="{$host}"><i class="fa fa-home"></i></a></li>
        <li><a href="{$host}datapesanan">Data Pesanan</a></li>
        <li><a href="javascript:void(0);" onclick="location.reload();">Upload File Scan/Foto BAST & Tanda Terima {$data_order.no_order|default:""}</a></li>
    </ul>

{if $cek_order eq "true"}
	<div class="row">
		<div id="content" class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Form Upload Scan/Foto BAST & Tanda Terima</h4>
				</div>
				<div id="collapse-shipping" class="panel-collapse collapse in">
					<div class="panel-body">
						<form data-toggle="validator" role="form" id='frmupload' url="{$host}submit-uploadfile" method='post' enctype="multipart/form-data" class="form-horizontal">
							<div class="form-group">
								<label for="input-firstname" class="col-sm-3 control-label">No. Order</label>
								<div class="col-sm-8">
									<div class="form-control">
										<input type="hidden" name="inv" value="{$data_order.no_order}">
										{$data_order.no_order}
									</div>
								</div>
							</div>
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">File BAST</label>
								<div class="col-sm-8">
									<input class="validasi" type="file" id="fl_bast" name="fl_bast" />
								</div>
							</div>			
							<div class="form-group required">
								<label for="input-firstname" class="col-sm-3 control-label">File Tanda Terima</label>
								<div class="col-sm-8">
									<input class="validasi" type="file" id="fl_tndterima" name="fl_tndterima" />
								</div>
							</div>			
							
							<div class="buttons">
								<div class="pull-center">
									<center>
										<a id="submitupload" class="btn btn-primary" >Submit<a/>
										&nbsp;
										<a href="{$host}datapesanan" class="btn btn-danger" >Kembali<a/>
									</center>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{else}
	<div class="row">
		<!--Middle Part Start-->
		<div id="content" class="col-sm-12">
			<center><h1 class="title">No. Order Tidak Valid</h1></center>
		</div>
	</div>
{/if}

</div>

<script>
	
	$(".validasi").validatebox({ required:true }); 	
	$('#submitupload').on('click', function(){
		validasi = $('#frmupload').form('validate');		
		if(validasi){
			$.blockUI({ message: '<h3>Data Sedang Diproses...</h3>' });			
		}		
		submit_form('frmupload', function(resp){
			if(resp == 1){
				alert("Sukses Melakukan Upload File Scan/Foto BAST & Tanda Terima");
				window.location.href = host+'datapesanan';
			}else if(resp == 2){
				alert("Data No. Pesanan Tidak Valid!");				
			}
			
			$.unblockUI();
		});
	});


</script>