	<div id='header'>
		<table width="100%">
			<tr>
				<td width="30%"><img src='__assets/images/logo_mks.png' width='150px' /></td>
				<td width="70%" style="height: 80px; color: #00000;" valign="top">
					<div style="font-family:arial;">		
						<h3>
							<br/>
							{$judul_header|default:'-'}
							{if $nomor|default:'' neq ''}<br>NOMOR: {$nomor|default:''}{/if}
						</h3>
					</div>
					<h5>
						PT. Mulia Kencana Semesta 
						<br/>
						Jl. A. H. Nasution No. 73 Cipadung Bandung
					</h5>
				</td>
			</tr>
			
			<tr>
				<td colspan='2'>
					<hr />
				</td>
			</tr>
		</table>
	</div> 
